body 
{
    background-color : blueviolet;
    color : white;
}

lable
{
    font-size: 20px;
}
.container
{
    text-align : center;
    margin-top: 400 px;
}

input 
{
    border-color: hotpink;
    box-shadow: 0px 5px 10px pink;
    font-family: "Calibri";
    font-size: 20px;
}
.button {

    border-style: none;
    border-color: blue;
    border-width: medium;
    background-color: blue;
    color: white;
    height: auto;
    width: 168px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: deeppink;
    }



